/* index page */

@keyframes gradient {
	0% {
		background-position: 100%;
	}
	100% {
		background-position: unset;
	}
}

body {
    height: 100vh;
    /*background-image: linear-gradient(to bottom right, #010101, #2f2f33);*/
    background-image: url(../../images/bg.png);
    background-size: 150% 150%;
    animation: gradient 1s ease; 
}

.intro-container {
    height: 85vh;
}

.intro-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 1.5em;
    margin-bottom: 0;
    padding-bottom: 1em;
}

.intro-name {
    color: var(--col-accent);
    font-family: "Comfortaa";
    font-weight: bold;
    font-size: clamp(3em, 11vw, 4em);
    margin-bottom: 0.25em;
}

@keyframes slideDownPronouns {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 100%;
    }
}

.intro-pronouns {
    color: #eee;
    font-family: "Raleway";
    font-size: 1.25em;
    font-weight: 100;
}

.div-pronouns {
    animation: slideDownPronouns 750ms;
    margin-bottom: 1.25em;
}

@keyframes lineExtend {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
    
}

.line {
    width: 100%;
    animation: lineExtend 1s ease;
    border-bottom: solid 2px #eee;
}

nav ul {
    min-height: 5.25em;
    display: flex;
    padding: 0;
    margin-top: 0;
    flex-wrap: wrap;
}

nav li {
    display: inline-flex;
    margin: clamp(0em, 3vw, 1em);
    flex-shrink: 1;
}

.nav-links ul {
    display: flex;
    justify-content: center;
}

@keyframes slideInIcons {
    0% {
        transform: translateX(-100%);
        opacity: 0%;
    }
    100% {
        transform: translateX(0);
        opacity: 100%;
    }
}

.nav-links li:nth-child(1) {
    animation: slideInIcons 360ms;
}
.nav-links li:nth-child(2) {
    animation: slideInIcons 520ms;
}
.nav-links li:nth-child(3) {
    animation: slideInIcons 680ms;
}
.nav-links li:nth-child(4) {
    animation: slideInIcons 840ms;
}
.nav-links li:nth-child(5) {
    animation: slideInIcons 1s;
}

.nav-links svg {
    /*animation: color-rainbow 8s linear 0s infinite;*/
    color: var(--col-background);
    filter: brightness(200%);
    width: 48px;
    height: 52px;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    position: relative;
    transition: top .2s ease-out;
    top: 0;
}

.nav-links svg:hover {
    color: var(--col-accent);
    --color: var(--col-accent);
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    transition: all .1s ease-in;
    top: -2px;
    filter: drop-shadow(2px 2px black);
}

