@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Raleway&display=swap');

* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #222831;
}

.intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.intro-section {
    text-align: center;
    margin: 1.5em;
    border-bottom: solid 2px #eee;
    padding-bottom: 1em;
}
.intro-name {
    color: #FF5722;
    font-family: "Comfortaa";
    font-weight: bold;
    font-size: 4em;
    margin-bottom: 0.25em;
}

.intro-pronouns {
    color: #eee;
    font-family: "Raleway";
    font-size: 1.25em;
    font-weight: 100;
}

nav ul {
    padding: 0;
    margin-top: 0;
}

nav li {
    display: inline-block;
    margin: 1em;
}

.nav-links svg {
    color:#2D4059;
    width: 48px;
    -moz-transition: color .2s ease-out;
    -o-transition: color .2s ease-out;
    -webkit-transition: color .2s ease-out;
    transition: color .2s ease-out;
}

.nav-links svg:hover {
    color:#FF5722;
    -moz-transition: color .2s ease-in;
    -o-transition: color .2s ease-in;
    -webkit-transition: color .2s ease-in;
    transition: color .2s ease-in;
}
