@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Raleway&family=Montserrat&display=swap');

/* General */

:root {
    --col-background: #1f1f22;
    --col-secondary: #2C2C31;
    --col-accent: #FF4C29;
}

* {
    box-sizing: border-box;
}


@keyframes background-rainbow {
    from {
        background-color: #382828;
    }
    17% {
        background-color: #383828;
    }
    33% {
        background-color: #283828;
    }
    50% {
        background-color: #283838;
    }
    67% {
        background-color: #282838;
    }
    83% {
        background-color: #382838;
    }
    100% {
        background-color: #382828;
    }
}

@keyframes color-rainbow {
    from {
        color: var(--color, #382828);
    }
    17% {
        color: var(--color, #383828);
    }
    33% {
        color: var(--color, #283828);
    }
    50% {
        color: var(--color, #283838);
    }
    67% {
        color: var(--color, #282838);
    }
    83% {
        color: var(--color, #382838);
    }
    100% {
        color: var(--color, #382828);
    }
}

.html-index, .body-index {
    margin: 0;
    padding: 0;
    background-color: var(--col-background);
    /*animation: background-rainbow 8s linear 0s infinite;*/
    font-family: "Montserrat";
    color: #ddd;
}

html, body {
    margin: 0;
    padding: 0;
    /*animation: background-rainbow 8s linear 0s infinite;*/
    font-family: "Montserrat";
    color: #ddd;
    overflow-x: hidden;
}

html {
    background-color: #151519;
}

body {
    height: 100%;
}

header {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
}

a {
    color:var(--col-accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* top nav */

.nav-main {
    border-bottom: 1px solid #eee;
    margin-bottom: 2em;
}

.nav-index {
    border: none;
    margin-bottom: 0;
}

.nav-main ul {
    padding-left: 0;
    padding-right: 0.5em;
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 1;
    align-items: center;
    margin-bottom: 0;
    max-width: 400px;
}

.nav-main li {
    display: flex;
    margin: 0;
    flex-grow: 1;
    padding: 0;
    margin-right: auto;
}

.nav-main a {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: white;
}

.nav-text a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.pfp img {
    width: 64px;
    border-radius: 50%;
}

.nav-rgb {
    height: 32px;
    width: 32px;
    justify-content: right;
}

.header-cover {
    border-radius: 100%;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0);
    background-blend-mode: darken;
}

.img-box {
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background-color: #151519;
    margin: 0;
    padding: 0;
    z-index: -1;
    filter: blur(8px);
}

/* centered content */

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* main content section */

.main-background {
    z-index: -1;
    height: 100vh;
    background-color: #151519;
}

.section-header-title {
    margin-top: 0;
    font-size: 3em;
    font-family: "Comfortaa";
    border-bottom: 1px solid #eee;
    max-width: 1080px;
}

.section-header {
    display: flex;
    min-height: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.section-container {
    display: flex;
    height: 100%;
    background-color: var(--col-background);
    padding-top: 4em;
    justify-content: center;
}

.section-container div {
    margin-bottom: 1em;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 0 1em 0 1em;
    min-width: 100px;
    max-width: 1080px;
}

.setup-container {
    justify-content: left;
    flex-wrap: wrap;
}


/* NOTHING TO SEE HERE */

.rolling-rick {
    width: 100%;
    height: 100%;
}

.h1-roll {
    color: #eee;
}

/* guide pages */

.guide-description {
    font-weight: bold;
}

/* footer */

footer {
    display: block;
    width: 100%;
    background-color: var(--col-secondary);
    padding: 1em;
    text-align: end;
    border-top: 1px solid var(--col-accent);
} 